.list {
  list-style: none;
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.ul {
  width: 90%;
  list-style: none;
  margin: 20px 10%;
  padding: 0;
}

.li {
  width: auto;
  height: 150px;
  border: 2px solid rgb(71, 176, 224);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.photo {
  width: 230px;
  height: 140px;
  border: 1px solid orange;
  margin: 5px;
}

.title {
  width: 20%;
  height: auto;
  display: flex;
  margin-left: 10px;
  font-size: 23px;
  font-weight: bold;
  color: rgb(1, 136, 1);
}

.description {
  width: 37%;
  height: auto;
  display: flex;
  align-items: center;
}

.price {
  margin: 0px;
  width: 10%;
  border: 1px ;
  display: flex;
  justify-content: center;
}

.equal {
    width: 3%;
    display: flex;
    justify-content: center;
}

.total {
  width: 20%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: rgb(255, 115, 0);
  margin-bottom: 5px;
  border: 1px solid yellow;
  border-radius: 10px;
  margin: 10px;
  padding: 0;
}

.x {
    width: 25px;
    height: 25px;
    border: 2px solid rgb(255, 29, 29);
    background-color: red;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 10px;
    cursor: pointer;
}
.x:hover {
    transform: scale(120%);
}